body{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  width:600px;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-group label{
  text-align: left;
}

.connect {
  background-color: #1565c0;
  color: white;
  padding: 4px;
  border: none;
  margin-top: 8px;
  border-radius: 4px;
}